* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #F3F8F9!important;
}

h1 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    line-height: 55px;
}

H2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700!important;
    font-size: 35px;
    line-height: 45px;
}

H3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600!important;
    font-size: 30px;
    line-height: 35px;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}

nav {
    height: 80px;
    background-color: #3A4EF2;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2;
}

nav img {
    height: 80px;
}

nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

nav a:hover {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #48FFFF!important;
}

#topbar {
    height: 60px;
    background-color: white;
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.25);
    line-height: 60px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    position: fixed;
    right: 0;
    left: 0;
    top: 80px;
    z-index: 2;
}

#contenido p{
    display: inline-block;
    margin: 0 20px;
}

#contenido button{
    width: 320px;
    background-color: #48FFFF;
    color: #263238;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    height: 43px;
}
#contenido button:hover{
    background-color: #3A4EF2;
    color: white;
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.25);
}

#heroSection {
    position: relative;
    right: 0;
    left: 0;
    top: 140px;
}

#heroSection img {
    position: absolute;
    z-index: 0;
    margin-left: 2vw;
    width: 94vw;
    height: 380px;
}

#principal {
    position: sticky;
    z-index: 1;
    padding: 60px 0 0 0;
}

#heroSection h1 span {
    color: #48FFFF;
}

#principal video {
    border-radius: 30px;
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.25);
    padding: 0;
}

#cta_header {
    position: relative;
    margin-top: -80px;
    color: #263238;
}

#cta_header button{
    background-color: transparent;
    border: 2px solid #263238;
    border-radius: 5px;
    color: #263238;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 43px;
    width: 100%;
}

#cta_header button:hover{
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 0;
}

#destacadoVideo {
    color: #263238;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

#destacadoVideo span{
    color: #3A4EF2;
}

#beneficios {
    position: relative;
    left: 0;
    right: 0;
    padding-top: 150px;
}

#utilidades_top {
    background: url(/assets/img/utilidades_top_bg.png) no-repeat center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 303.4px;
    margin-top: -100px;
}

#utilidades_titulos {
    padding-top: 60px;
    width: 50%;
    margin: 0 auto;
}

span{
    color: #3A4EF2;
}

.cuatroColumnas {
    background-color: #3A4EF2;
}

.card-icono-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px 10px;
    gap: 20px;
    text-align: center;
    color: white;
/* tamaño */
    width: 250px!important;
    height: 100%;
/* azul */
    background: #3A4EF2;
    border-radius: 30px;
}

.card-icono-texto img {
    width: 5em;
}

.cuatroColumnas h3{
    color: #48FFFF;
}

/* .card-icono-texto:hover{
    background: #FFFFFF;
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.card-icono-texto.col-3:hover{
    mix-blend-mode: difference;
    background-color: red;
    transition: 0.2s;
} */

#interfaz_top {
    background: url(/assets/img/interfaz_top_bg.png) no-repeat center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 280px;
}

#interfaz img{
    margin-top: -120px;
}